﻿<%@ Page Title="" Language="C#" MasterPageFile="~/QoutationMaster.Master" AutoEventWireup="true" CodeBehind="index.aspx.cs" Inherits="PracticeQT.WebPages.index" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <div class="card">
            <div class="card-body login-card-body">
                <p class="login-box-msg">Sign in to start your session</p>

                <form >
                    <div class="input-group mb-3">
                        <input type="email" class="form-control" placeholder="Email" id="txt_sUserName"/>
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="password" class="form-control" placeholder="Password" id="txt_sPassword"/>
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <div class="icheck-primary">
                                <input type="checkbox" id="remember"/>
                                <label for="remember">
                                    Remember Me

                                </label>
                            </div>
                        </div>
                        <!-- /.col -->
                        <div class="col-4">
                            <button type="button" class="btn btn-primary btn-block" onclick="loginUser()">Sign In</button>
                        </div>
                        <!-- /.col -->
                    </div>
                </form>
                <!-- /.social-auth-links -->
                <p class="mb-1">
                    <a href="forgot-password.aspx">I forgot my password</a>
                </p>
                <p class="mb-0">
                    <a href="register.aspx" class="text-center">Register a new Member</a>
                </p>
            </div>
            <!-- /.login-card-body -->
        </div>
  
</asp:Content>

